/node_modules/
/DRAFT/
/coverage/
/scripts/
/nodemon*.json
.editorconfig
.gitignore
.idea/
jest.config.js
/docker
/helm
/.circleci
/.dockerignore
/docker-compose.yml
/Dockerfile
/.*
/tsconfig.docs.json
/additional-documentation/
